@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #43567E;
    --color-primary-shade: #577399;
    --color-secondary: #FEFEFE;
    --color-secondary-shade: #EDEDED;
    --color-accent: #EDBC82;
    --color-accent-shade: #DDDDDD;
    --color-background: #FFFFFF;
}

@theme {
  --font-main: "Bitter";
  --font-secondary: "Noto Sans";
  --color-text-black: #020202;
  --color-text-white: #eeeeee;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}